.header {
  @apply py-8 relative;

  .nav {
    .nav_list {
      @apply hidden lg:flex uppercase items-center gap-10;

      li {
        @apply relative after:content-[''] after:block 
        after:h-2px after:bg-theme after:absolute after:w-0 
        after:transition-all after:duration-200 after:ease-linear
        hover:after:w-full after:mt-2 tracking-tight;

        a {
          @apply text-lg font-bold;
        }
      }
    }

    .menu_btn {
      @apply hidden;

      &:checked ~ .menu_icon .navicon {
        @apply bg-transparent;
      }

      &:checked ~ .menu_icon .navicon:before {
        transform: rotate(-45deg);
      }

      &:checked ~ .menu_icon .navicon:after {
        transform: rotate(45deg);
      }

      &:checked ~ .menu_icon:not(.steps) .navicon:before,
      &:checked ~ .menu_icon:not(.steps) .navicon:after {
        top: 0;
      }
    }

    .menu_icon {
      position: relative;
      user-select: none;

      @apply flex justify-center items-center lg:hidden pt-0;

      .navicon {
        @apply bg-dark block relative;

        height: 2px;
        transition: background 0.2s ease-out;
        width: 24px;

        &::before,
        &::after {
          @apply bg-dark content-[''] block h-full 
          absolute w-full lg:hidden;

          transition: all 0.2s ease-out;
        }

        &::before {
          top: 6px;
        }

        &::after {
          top: -6px;
        }
      }
    }
  }

  .h_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    padding: 0.4rem;
  }

  .menu {
    @apply absolute z-50 top-20 m-0 p-0 overflow-hidden 
    mt-1 w-full flex-col clear-both max-h-0 flex items-end 
    border-dark bg-theme transition-all ease-linear duration-100;

    li {
      @apply border-b-2 border-dark w-full 
      last:border-none;

      a {
        @apply font-bold w-full block p-3 tracking-tight;
      }
    }
  }

  .open_menu {
    @apply border-2;

    max-height: 15rem;
  }
}
