@tailwind base;
@tailwind components;
@tailwind utilities;

// Utils //

.transite {
  @apply transition-all ease-linear duration-300;
}

// Global //

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  @apply py-12 mb-10 lg:mb-16 lg:py-20 border-y-2 border-gray-100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Typography //

h1,
.h1 {
  @apply text-xl lg:text-2xl font-bold mb-8 md:mb-10 lg:mb-14
  after:content-[''] after:block after:h-3px lg:after:h-4px
  after:bg-theme after:mt-3 lg:after:mt-5 
  after:w-16 lg:after:w-20;
}

h2,
.h2 {
  @apply mb-1 lg:mb-2 text-lg lg:text-xl font-bold;
}

h3,
.h3 {
  @apply mb-1 lg:text-lg font-bold;
}

p {
  @apply mb-4 lg:mb-5 leading-7 lg:leading-8 lg:text-lg;
}

strong {
  @apply font-semibold;
}

// Fields //

select,
input {
  @apply p-2.5 w-full lg:w-auto lg:p-3 mt-2 appearance-none
  border border-dark shadow-sm bg-transparent focus:outline-0;
}

select {
  @apply cursor-pointer;
}

// Elements //

button,
.button {
  @apply bg-theme p-4 pl-6
  lg:p-5 lg:px-8 uppercase block w-full 
  lg:inline-block lg:w-fit font-semibold 
  shadow-xl hover:bg-dark hover:text-white 
  border-2 border-dark;

  @extend .transite;
}
